{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %} 

<h4 class='text-center'>welcome to profile</h4>
<h5 class='text-center'> Hello : {{user}}</h5>

{% if messages %}
    {% for m in messages %}
    <p class="bg-success p-3 text-white text-center">{{m}}</p>
    {% endfor %}
    {% endif %}
    <br/>
<div style="width:75%; margin:auto; ">
  <p class="d-flex justify-content-around"><a class="btn btn-outline-primary" href="">Change Your Password</a>
    <a class="btn btn-outline-warning" href="">Change Your Password without old pass</a></p>
    
</div>
<form method="post" style="width: 50%; margin: auto" novalidate>
      {% csrf_token %}
      {% if form.non_field_errors %}
      {% for er in form.non_field_errors %}
        <p class="bg-danger text-white p-3">{{er}}</p>
      {% endfor %}
      {% endif %}
      <!-- {{form | crispy }} -->
      {% for fm in form%} 
        {{fm.label_tag}} 
        {{fm}} 
        {{fm.errors|striptags}} 
      {% endfor %}
      <br />
      <button class="btn btn-warning" type="submit">Change Data</button>
    </form>
{% endblock %}