<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome AppHome</h1>
    {% comment %} ---------->Join <---------- {% endcomment %}
    
     <h1>{{fun}}</h1>
     <h1> {{fun | join:" - "}} </h1>
     <h1>{{fun | join:" * "}}</h1>
    <p>----------------------------------------------------</p>
    {% comment %}---->  Date Filter <----------- {% endcomment %}
    <h1>Short Date : {{today | date:"SHORT_DATE_FORMAT"}}</h1>
    <h1>Another sort Date : {{today | date}}</h1>
    <h1>long Date : {{today | date:"D d M Y"}}</h1>
    <p>-----------------------------------------------------</p>

    {% comment %} Default Filter {% endcomment %}

    <h1>Nodate :{{Nodata | default:" Kisu nai aikhane"}}</h1>
    <h1>After adding 5 : {{adding | add:'5'}}</h1>
    <h1>First Letter Capital : {{MyName | capfirst}}</h1>


    {% comment %} Cut Filter {% endcomment %}

    <h1>cut the space :  {{fundus|cut:" "}}</h1>
    <h1>cut M : {{fundus|cut:"M"}} </h1>

    {% comment %} sortBy {% endcomment %}
    <h1>Sort By a,b,c....: {{ sortBy | dictsort:"name" }}</h1>

    <h1>--------------------------------------------------------</h1>
   
    {% comment %} first value of an array  {% endcomment %}

    <h1>first : {{fun | first}}</h1>

    <h1>Last : {{fun | last}}</h1>

    {% comment %} Length Filter {% endcomment %}

    <h1>length of My fun array : {{fun|length}}</h1>
    <h1>---------------------------------------------------</h1>
    {% comment %} Linenumbers Filter {% endcomment %}
    <h1>List : {{ "nai"  | linenumbers}}</h1>

    {% comment %} Lower Filter ans upper and title  {% endcomment %}

    <h1>Higer : {{fundus | upper}}</h1>
    <h1>lower : {{fundus | lower}}</h1>
    <h1>title : {{fundus | title}}</h1>

    {% comment %} Random Filter {% endcomment %}
    <p>--------------------------------------------------</p>

    <h1>random or : {{fun | random}}</h1>

    {% comment %} slice:":2" {% endcomment %}

    <h1>slice: : {{fun | slice:":2"}}</h1>
    
    {% comment %} time {% endcomment %}

    <h1>Time : {{current_time}}</h1>

    <h1>{{current_time| time:"H\h i\m"}}</h1>
    {% comment %} <h1>{{current_time|timesince}}</h1> {% endcomment %} 
    <h1>{{'Happy coding' | truncatechars:6}}</h1>
    <h1>{{'Earthly' | make_list}}</h1>
    <p>{{'amito vala na vala loia thaikp ' | truncatewords:2}}</p>
</body>
</html>