<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome AppHome</h1>
    {% comment %} ---------->Join <---------- {% endcomment %}
    
     <h1>{{fun}}</h1>
     <h1> {{fun | join:" - "}} </h1>
     <h1>{{fun | join:" * "}}</h1>
    <p>----------------------------------------------------</p>
    {% comment %}---->  Date Filter <----------- {% endcomment %}
    <h1>Short Date : {{today | date:"SHORT_DATE_FORMAT"}}</h1>
    <h1>Another sort Date : {{today | date}}</h1>
    <h1>long Date : {{today | date:"D d M Y"}}</h1>
    <p>-----------------------------------------------------</p>

    {% comment %} Default Filter {% endcomment %}

    <h1>Nodate :{{Nodata | default:" Kisu nai aikhane"}}</h1>

</body>
</html>