{% extends "base.html" %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument </th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
     {% for i in data  %}
     <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.Musician.FirstName}}  {{i.Musician.LastName}}</td>
        <td>{{i.Rating.rating}}</td>
        <td>
        {% comment %} {% for instu in i.Musician.%}
        {{instu}}
        {% endfor %}  {% endcomment %}
        <p>Guiter</p>
        </td>
        <td>{{i.AlbumName}}</td>
        <td>{{i.releaseDate}}</td>
        <td><a href='{% url "edit" i.id %}' class='btn btn-warning btn-sm' >Edit</a>  <a href='{% url "delete" i.id%}' class='btn btn-danger btn-sm'>delete</a></td>

      </tr>
     {% endfor %}
    </tbody>
  </table>
{% endblock content %}