{% extends "base.html" %}
{% load static %}
{% block content %}
       <div>
            <div style ="background-image: url('{% static 'image/car2.jpg' %}'); background-size: cover; height:480px; background-repeat: no-repeat; margin:0;">
                <h1 class="ms-5 text-primary fw-bold" >Welcome to <span class='text-warning'>CarZone</span></h1>
                <p class='text-light ms-4 fw-bold'>We are here to provide the Best Think in your life . Our service is Best in the World . </p>
                <p class='text-warning ms-5 fw-bold'>Get the Best and Be the Best</p>
            </div>
       </div>


            <h1 class='bg-warning'>ok to say that my footer behalf like a fool </h1>

{% endblock content %}