{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='d-flex flex-wrap'>
    <div class='col-md-7'>
        <img src="{% static "image/car.jpg" %}" style='width:100%;' alt="">
    </div>
    <div class='col-md-5'>

        <h1 class="text-center mt-5 text-primary" >Welcome to <span class='text-warning'>CarZone</span></h1>
        <p style='width: 90%; margin: auto;' class='text-center'>Voluptatibus dolorum delectus necessitatibus temporibus adipisci, harum enim unde, suscipit in ipsum provident hic minima molestias reiciendis nihil veniam aut doloribus, ab quidem sit cum at nemo nulla autem! Dolor quaerat ea voluptatem ullam, consequuntur quisquam ut iste. Vitae exercitationem ipsum blanditiis. Nihil rem in quo magni quam sapiente ad ipsa voluptatum saepe quos temporibus, at iste? Eum saepe eos error ea recusandae, deserunt at quidem odio harum inventore. Necessitatibus eos sapiente architecto optio aut esse, facilis, voluptatibus assumenda ut exercitationem nobis molestias, quisquam nam quia odio ipsa? Voluptatem voluptas distinctio eaque.</p>
  
    </div>
</div>


{% endblock content %}