{% extends "base.html" %}
{% block content %}
<h3 class='text-center text-success'>Task</h3>
<div style="width: 75%; margin: auto;">
    <div class='d-flex flex-wrap justify-content center align-item-center '>
        {% for i in data  %}
            <div class="card col-sm-3 m-3 shadow-lg bg-primary bg-opacity-10" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-danger">{{i.id}} - <small class='text-warning'>{{i.taskTitle}}</small></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">AssignDate :  {{i.AssignDate}}</h6>
                    <hr class='border-danger'>
                    <p class="card-text">{{i.taskDescription}}</p>
                    
                    <div class ='mb-4'>
                        <h6>Categories:</h6>
                        <div class='d-flex flex-wrap' >
                            {% for cat in i.category.all %} 
                                <button class="badge bg-primary m-1 text-bg-opacity-100  fw-bold" disabled ><small>{{cat.CategoryName}} </small></button>
                            {% endfor %}
                        </div>
                    </div>
                    <hr class='border-warning'>
                  <div style='width: 50%; margin:auto;'>
                    {% if i.is_completed %}
                    <a href=""><span class="btn btn-info btn-sm">Complete</span></a>
                    
                    {% else %}
                    <a href="{% url "edit" i.id%}" class="btn btn-warning  btn-sm">Edit</a>
                    <a href="{% url "delete" i.id %}" class="btn btn-danger  btn-sm">Delete</a>
                    {% endif %}
                  </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div>

{% endblock content %}