{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="heroSection">
    <img  src="{% static "images/Welcome.jpg" %}" width="100%"  alt="welcome" srcset="">
</div>
<div class='row'>
    <div class='col-md-6 col-12 text-center mt-5'>
        <h1>welcome to  <span class='text-primary '>Foody</span><span>BD</span> </h1>
        <p>We are here to provied you the best food in the word . our food is so much testy to eat and so cheap praice .But the quality of our food is Number One .Enjoy your meal sir</p>
        <button class='bg-primary px-3 py-2 rounded text-white'>View Meal</button>
    </div>
    <div  class='col-md-6 col-12'>
        <img src="{% static "images/MTA.jpg" %}" width="100%" alt="" srcset="">
    </div>
</div>

{% endblock content %}